<div class="event-page">
  <!-- Sidebar component -->
    <!-- Contenu ici visible uniquement si isAuthenticated est vrai -->
    <app-sidebar *ngIf="isAuthenticated"></app-sidebar>

  <div class="main-content">
    <app-header></app-header>

    <!-- Barre de catégories -->
    <section class="category-bar">
      <nav class="category-nav">
        <ul class="category-list">
          <li><a href="#" (click)="filterEvents('all')">Voir Tous</a></li>
          <li *ngFor="let category of categories">
            <a href="#" (click)="filterEvents(category.id)">{{ category.label }}</a>
          </li>
        </ul>
      </nav>
    </section>


    <!-- Contenu principal -->
    <section class="event-page-container">
        <!-- Section "À la Une" -->
        <section class="featured-events">
          <h2>Événements à la une</h2>
          <div class="event-list">
            <app-event-card
              *ngFor="let event of featuredEvents"
              [event]="event"
              [variant]="1">
            </app-event-card>
          </div>
        </section>

        <!-- Section "Nouveaux Événements" -->
        <section class="new-events">
          <h2>Nouveaux Événements</h2>
          <div class="event-list">
            <app-event-card
              *ngFor="let event of newEvents"
              [event]="event"
              [variant]="2">
            </app-event-card>
          </div>
        </section>

        <!-- Section "Tous les événements" -->
        <section class="all-events">
          <h2>Nos Événements</h2>
          <div class="event-list">
            <app-event-card
              *ngFor="let event of allEvents"
              [event]="event"
              [variant]="3">
            </app-event-card>
          </div>
        </section>
    </section>
  </div>
</div>
