:host {
  font-family: 'cabinet-grotesk', sans-serif;
  margin: 0;
  padding: 0;
  color: #1b1b1b;
  font-size: 1em;
  min-height: 100vh;
  background-color: #f9f9f9;

  .event-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    color: #1b1b1b;
    font-family: 'cabinet-grotesk', sans-serif;
    background-color: #fff;

    .main-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      max-height: 100vh;
      overflow: auto; /* Permet le défilement */

      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background: transparent; /* rendre la barre de défilement transparente */
      }

      /* Navigation des catégories */
      .category-nav {
        display: flex;
        justify-content: center; /* Aligne à gauche */
        align-items: center;
        background-color: #fff;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
        width: 100%;
        overflow-x: auto; /* Ajout du défilement horizontal */
        white-space: nowrap; /* Empêche les éléments de se répartir sur plusieurs lignes */

        &::-webkit-scrollbar {
          width: 6px;
          height: 6px; /* Taille de la scrollbar */
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 0, 0.2); /* Couleur de la barre */
          border-radius: 10px; /* Arrondir la barre de défilement */
        }

        .category-list {
          display: flex;
          gap: 20px;
          list-style: none;
          width: 100%;
          margin: 0;
          padding: 0;

          li {
            a {
              text-align: center;
              text-decoration: none;
              color: #333;
              font-size: .8em;
              font-weight: 600;
              transition: color 0.3s ease;

              &:hover {
                color: #FF773D;
              }
            }
          }
        }
      }

      .event-page-container {
        padding: 40px;
        display: flex;
        flex-direction: column;
        flex-grow: 1; /* Permet de prendre toute la hauteur disponible */
        overflow: auto; /* Permet le défilement si nécessaire */

        &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
          background: transparent; /* rendre la barre de défilement transparente */
        }

        h2{
          font-size: 1.3em;
          font-weight: 500;
          margin-bottom: 20px;
          font-family: 'clash-display', sans-serif;
        }
        .new-event {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          gap: 20px;
          align-items: center;
          width: 100%;
          justify-content: space-between;
        }
        .event {
          display: flex;
          flex-direction: column;
          gap: 30px;
          align-items: center;
          width: 100%;
          justify-content: space-between;
        }
        @media screen and (max-width: 515px) {
          .new-event {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
          }

          .event-list {
            flex-direction: column;
            align-items: center;
            justify-content: center;
                      width: 100%;


            gap: 20px;
          }
        }

        @media (min-width: 768px) {
          .event-list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 3em;
            justify-content: center;

            // justify-content: space-between;
          }
        }

      }
    }
  }
}
