.wallet-form-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  color: #1b1b1b;

}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 94%;
  padding: 10px;
  margin-top: 5px;
  background-color: #F4F4F4;
  color: #1b1b1b;
}
select{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: #F4F4F4;
  color: #1b1b1b;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ff773d;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #e0672f;
}
