<div class="container">
  <!-- Affichage du message d'erreur -->
  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="emailExists">
    <p>Cet email est déjà associé à un compte. <a (click)="navigateToLogin()">Connectez-vous ici</a>.</p>
  </div>


  <!-- Étape 1: Email -->
  <div *ngIf="!emailSent && !emailVerified && !emailExists">
    <form (ngSubmit)="sendVerificationEmail()">
      <div class="input-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="formData.email"
          name="email"
          placeholder="exemple@domaine.com"
          required
        />
      </div>
      <button type="submit" class="submit-btn">Envoyer le code de vérification</button>
    </form>
  </div>

  <!-- Étape 2: Vérification du code -->
  <div *ngIf="emailSent && !emailVerified" class="email-verification">
    <h2>Vérification email</h2>
    <p class="info">Nous vous avons envoyé un code de vérification sur <span>{{ formData.email }}</span></p>
    <form (ngSubmit)="verifyCode()">
      <div class="input-group">
        <input
          type="text"
          id="verificationCode"
          [(ngModel)]="verificationCode"
          name="verificationCode"
          placeholder="Entrez votre code de vérification"
          required
        />
      </div>

      <!-- Compte à rebours -->
      <p class="countdown">Temps restant : <span>{{ countdownMinutes }} : {{ countdownSeconds }} </span></p>

      <button type="submit" class="submit-btn">Vérifier le code</button>
    </form>
  </div>

  <!-- Étape 3: Nom, Téléphone, Rôle, Photo de profil -->
  <div *ngIf="emailVerified && !additionalInfoProvided">
    <h1>Inscription</h1>

    <form (ngSubmit)="submitAdditionalInfo()">
      <!-- Autres champs... -->
    </form>
  </div>

  <!-- Étape 4: Mot de passe -->
  <div *ngIf="additionalInfoProvided">
    <h1>Inscription</h1>

    <form (ngSubmit)="register()">
      <!-- Champs de mot de passe -->
    </form>
  </div>
</div>
