/* Footer navigation fixe */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 25em;
  background-color: white;
  opacity: 90%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-top: 1px solid #eaeaea;
  margin-bottom: 20px;
  border-radius: 25px;

  li {
      list-style-type : none;
  }
}


.bottom-nav a {
  color: #ff4b2b;
  font-size: 1.5rem;
}
