<header class="header-container">
  <img src="../../../assets/images/logo.png" class="logo" alt="Logo" />

  <h1>{{ title }}</h1>

  <div class="search-bar">
    <input class="search" type="text" placeholder="Rechercher un événement" />
    <div class="profile-pic" (click)="toggleProfileMenu()">
      <img class="profile-img" [src]="profileImage" alt="Profile" />
    </div>
  </div>

  <div class="profile-menu" *ngIf="showProfileMenu">
    <ul *ngIf="isAuthenticated; else notLoggedIn">
      <li (click)="viewProfile()">Voir mon profil</li>
      <li (click)="logout()">Se déconnecter</li>
    </ul>
    <ng-template #notLoggedIn>
      <ul>
        <li (click)="login()">Se connecter</li>
      </ul>
    </ng-template>
  </div>
</header>
