/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  font-family: 'cabinet-grotesk', sans-serif;
  background-color: #f9f9f9;
  padding-bottom: 70px; /* Pour le footer fixé */
  color: #1b1b1b;
  position: relative;
}

.ticket-page {
  display: flex;
  height: 100vh; /* Full viewport height to allow scrolling within the content area */
  overflow: hidden; /* Prevent scrolling on the main container */
}

.sidebar {
  display: none; /* Masquer sur mobile */
}

h3{
  font-size: 1.3rem;
  font-family: 'clash-display';
  font-weight: 500;
  margin-bottom: 15px;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Allow scrolling for the content wrapper */
}
.content {
  padding: 15px;
  background: #ffffff;
  flex: 1; /* Take remaining height for content */
  overflow-y: auto; /* Make content area scrollable */
  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }
}

.title {
  margin-bottom: 30px;
  font-family: 'cabinet-grotesk', sans-serif;
  font-size: .8em;
  font-weight: 500;
  color: #1b1b1b;

}

.ticket {
  width: 100%;
  max-width: 16em;
  padding: 20px;
  border-radius: 10px;
  background-color: #F4F4F4;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 5%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;

  h5 {
    font-family: 'clash-display', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    // margin: 0 0 10px;
  }

  h6 {
    font-size: 1rem;
    color: #e85a4f;
    margin: 0 0 15px;
  }

  .info {
    font-size: 0.8rem;
    margin-bottom: 15px;

    p {
      margin: 5px 0;
      display: flex;
      align-items: center;
    }
  }

  .icon {
    margin-right: 8px;
  }

  .price {
    font-family: 'clash-display', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #f86d0d;
    margin: 0;
    position: absolute;
    bottom: 12px;
    right: 20px;
  }
}
/* Footer navigation fixe */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.619);
  opacity: 90%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-top: 1px solid #eaeaea;
  border-radius: 25px;
}

.bottom-nav li {
  list-style-type: none;
}

.bottom-nav a {
  color: #ff4b2b;
  font-size: 1.5rem;
}
.message{
  p{
    font-size: larger;
    color: #ff4b2b;
    font-weight: 500;
    font-family: 'clash-display', sans-serif;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .tickets {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 1em;
    .ticket {
      margin-bottom: 0;
      width: 100%;
      max-width: 16em;
    }
  }
}

/* Sidebar only for desktop */
@media (min-width: 768px) {

  .tickets {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 1em;
    .ticket {
      margin-bottom: 0;
      width: 100%;
      // max-width: 22em;

      &:hover {
        cursor: pointer;
        transform: scale(1.02);
      }
    }

  }
  .sidebar {
    display: block;
  }

  .content-wrapper {
    // width: 80%;
  }

  .bottom-nav {
    display: none;
  }
}

/* Footer only for mobile */
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }

  .bottom-nav {
    display: flex;
  }
}

