/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  font-family: 'cabinet-grotesk', sans-serif;
  background-color: #f9f9f9;
  padding-bottom: 70px; /* Pour le footer fixé */
  color: #1b1b1b;
  position: relative;
}

.ticket-page {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  // width: 20%;
  background: #f4f4f4;
  display: none; /* Masquer sur mobile */
}

.content-wrapper {
  width: 100%;
}

.content {
  padding: 20px;
  background: #ffffff;
  min-height: 100vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparaent; /* make scrollbar transparent */
  }
}

.title {
  margin-bottom: 1.5em;
  h2 {
    font-family: 'clash-display', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .3em;
  }
}

.ticket {
  width: 100%;
  max-width: 24em;
  padding: 20px;
  border-radius: 15px;
  background-color: #F4F4F4;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 5%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;

  h5 {
    font-family: 'clash-display', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 10px;
  }

  h6 {
    font-size: 1rem;
    color: #e85a4f;
    margin: 0 0 15px;
  }

  .info {
    font-size: 0.9rem;
    margin-bottom: 15px;

    p {
      margin: 5px 0;
      display: flex;
      align-items: center;
    }
  }

  .icon {
    margin-right: 8px;
  }

  .price {
    font-family: 'clash-display', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #f86d0d;
    margin: 0;
    position: absolute;
    bottom: 12px;
    right: 20px;
  }
}
/* Footer navigation fixe */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.619);
  opacity: 90%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-top: 1px solid #eaeaea;
  border-radius: 25px;
}

.bottom-nav li {
  list-style-type: none;
}

.bottom-nav a {
  color: #ff4b2b;
  font-size: 1.5rem;
}

/* Sidebar only for desktop */
@media (min-width: 768px) {

  .tickets {
    width: 100%;
    grid-template-columns: repeat(3, 1fr); /* 3 tickets par ligne */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    .ticket {
      margin-bottom: 2em;
      width: 100%;
      max-width: 22em;
    }
  }
  .sidebar {
    display: block;
  }

  .content-wrapper {
    // width: 80%;
  }

  .bottom-nav {
    display: none;
  }
}

/* Footer only for mobile */
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }

  .bottom-nav {
    display: flex;
  }
}

