        <!-- Cards Section -->
        <section class="cards-section">
          <div class="card blue-card">
            <div class="wave">
              <img src="/images/wave.png" alt="">
              <p>Wave</p>
            </div>
            <div class="balance">
              <div>
                <p>Numéro</p>
                <h6>78 000 00 00</h6>
              </div>
              <div>
                <p>Somme</p>
                <h6>100 000 F CFA</h6>
              </div>
            </div>
          </div>
        </section>
