$primary-color: #FF773D;
$background-light: #fff;
$font-color: #1b1b1b;
$font-family: 'Cabinet Grotesk', sans-serif;

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-family;
  background-color: $background-light;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;

  .left-panel {
    background-color: $background-light;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 4em;
    width: 100%;

    .logo {
      width: 120px;
      margin-top: 2rem;
    }

    .circle-decorations {
      position: absolute;
      top: 30%;
      right: 10%;

      .circle {
        background-color: rgba(255, 119, 61, 0.2);
        border-radius: 50%;
      }

      .circle1 {
        width: 80px;
        height: 80px;
      }

      .circle2 {
        width: 120px;
        height: 120px;
        position: absolute;
        top: 40px;
        left: 40px;
      }
    }
  }

  .right-panel {
    background-color: white;
    border: none;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    min-height: 90vh;
    justify-content: center;
    flex-direction: column;

    h2 {
      color: $font-color;
      font-weight: 600;
      margin-bottom: 1.5rem;
      font-family: 'Clash Display', sans-serif;
    }

    .form-label {
      font-weight: 500;
      color: $font-color;
    }

    .form-control {
      background-color: #f0f0f0;
      border: none;
      padding: 15px;
      border-radius: 5px;
      margin-top: 10px;
      font-size: 1rem;
    }

    .btn-primary {
      background-color: $primary-color;
      color: white;
      font-size: 1rem;
      padding: 12px;
      border-radius: 5px;
      border: none;
      margin-top: 1.5rem;
      font-weight: 500;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }

    .invalid-feedback {
      color: $primary-color;
      font-size: 0.9rem;
    }

    .forgot-password-link {
      color: $primary-color;
      text-decoration: none;
      font-size: 0.9rem;

      &:hover {
        text-decoration: underline;
      }
    }

    .signup-link, .connect-later-link {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .invalid-feedback {
    color: #FF773D; /* Votre couleur d'erreur */
    font-size: 0.9rem;
    display: block; /* S'assure que le message est visible */
  }

}

/* Responsive Design */
@media (max-width: 768px) {
  .left-panel {
    display: none;
  }

  .right-panel {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .login-page {
    flex-direction: column;
    justify-content: center;
  }

  .right-panel {
    padding: 1rem;
    max-width: 100%;
  }

  .btn-primary {
    font-size: 0.9rem;
    padding: 10px;
  }
}
