* {
  margin: 0;
  padding: 0;
}

:host {
  font-family: 'Cabinet Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form-event-page {
  display: flex;
  font-family: 'Cabinet Grotesk', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .sidebar {
    display: none;
  }

  .content {
    flex-grow: 1;
    padding: 10px;
    height: 100vh;

    .form-content {
      background-color: #fff;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
      overflow-y: scroll;
      min-height: 100vh;
      max-height: calc(100vh - 60px);

      &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }

      .title {
        margin-bottom: 15px;
        font-size: 1rem;
        font-weight: 500;
        color: #1b1b1b;
      }

      .banner-preview {
        max-width: 100%;
        height: auto;
        margin-top: 8px;
        border-radius: 5px;
      }

      form {
        .step {
          margin-bottom: 15px;

          h3 {
            font-size: 1.1rem;
            color: #555;
            margin-bottom: 10px;
          }

          .form-group,
          .form-group-inline {
            margin-bottom: 15px;

            label {
              display: block;
              font-size: 0.8rem;
              color: #666;
              margin-bottom: 4px;
            }

            input[type="text"],
            input[type="date"],
            input[type="time"],
            input[type="number"],
            textarea {
              width: 100%;
              padding: 6px;  /* Reduced padding for compact inputs */
              font-size: 0.85rem;  /* Reduced font size for compact inputs */
              border: 1px solid #ddd;
              background-color: #f9f9f9;
              border-radius: 4px;
              color: #1b1b1b;
              outline: none;
              transition: border-color 0.3s;

              &:focus {
                border-color: #ff773d;
              }
            }

            .banner-preview {
              width: 100%;
              height: 30vh;
              margin-top: 8px;
              border-radius: 5px;
              z-index: 0;
              position: relative;

              &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 1;
              }
            }
          }

          .form-group-inline {
            display: flex;
            gap: 10px;

            .form-group {
              flex: 1;
            }
          }

          .checkbox-group {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            div {
              display: flex;
              align-items: center;

              input[type="checkbox"] {
                margin-right: 6px;
              }

              label {
                font-size: 0.8rem;
                color: #1b1b1b;
              }
            }
          }
        }

        .form-actions {
          display: flex;
          justify-content: flex-end;

          .btn-submit {
            padding: 8px 15px;
            background-color: #ff773d;
            color: #fff;
            font-size: 0.85rem; /* Reduced font size for the button */
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
              background-color: #e0672a;
            }
          }
        }
      }
    }

    .error-message, .success-message {
      font-size: 0.8em;
      margin-top: 4px;
    }

    .error-message {
      color: red;
    }

    .success-message {
      color: green;
    }
  }

  /* Responsive design */
  @media (min-width: 768px) {
    .sidebar {
      display: block;
      height: 100vh;
    }

    .form-group-inline {
      flex-direction: row;
    }
  }

  @media (max-width: 767px) {
    .content {
      padding: 8px;
    }

    .form-content {
      padding: 10px;
    }
  }
}
