<div [ngSwitch]="variant" (click)="goToEventDetails(event.id)">
  <div *ngSwitchCase="1" class="event-card">
    <img [src]="event.banner" alt="Ceci est la banierre de l'event" />
    <h4>{{ event.name }}</h4>
    <p>{{ event.description }}</p>
  </div>

  <div *ngSwitchCase="2" class="event-card-2">
    <div class="card-title">
      <img [src]=" getOrganizerName(event.organizer_id)" alt="photo de profile" />
      <h4>{{  getOrganizerName(event.organizer_id) }}</h4>
    </div>
    <img [src]="event.banner" alt="image-event" class="event-image" />
    <h6>{{ event.name }}</h6>
    <p class="event-card-2-date">{{ event.location }} . {{ event.time }}.</p>
    <p class="price">{{ event.ticket_price  |  currency:'XOF'}}</p>
  </div>

  <div *ngSwitchCase="3" class="event-card-3">
    <div class="event-image-container">
      <img [src]="event.banner" alt="image-event" class="event-image">
      <span class="event-label">{{event.ticket_price | currency:'XOF'}}</span>
      <div class="event-details">
        <h4>{{event.name}}</h4>
        <p>{{ getOrganizerName(event.organizer_id)}}</p>
        <p class="lieu">{{event.location}} . {{event.time}}.</p>
      </div>
    </div>
  </div>
</div>




<!-- <div [ngSwitch]="variant">
  <div *ngSwitchCase="1" class="event-card">
    <img [src]="event.banner" alt="Ceci est la banierre de l'event" />
    <h4>{{ event.name }}</h4>
    <p>{{ event.description }}</p>
  </div>

  <div *ngSwitchCase="2" class="event-card-2">
    <div class="card-title">
      <img [src]=" getOrganizerName(event.organizer_id)" alt="photo de profile" />
      <h4>{{  getOrganizerName(event.organizer_id) }}</h4>
    </div>
    <img [src]="event.banner" alt="image-event" class="event-image" />
    <h6>{{ event.name }}</h6>
    <p class="event-card-2-date">{{ event.location }} . {{ event.time }}.</p>
    <p class="price">{{ event.ticket_price  |  currency:'XOF'}}</p>
  </div>

  <div *ngSwitchCase="3" class="event-card-3">
    <div class="event-image-container">
      <img [src]="event.banner" alt="image-event" class="event-image">
      <span class="event-label">{{event.ticket_price | currency:'XOF'}}</span>
      <div class="event-details">
        <h4>{{event.name}}</h4>
        <p>{{ getOrganizerName(event.organizer_id)}}</p>
        <p class="lieu">{{event.location}} . {{event.time}}.</p>
      </div>
    </div>
  </div>
</div> -->
