* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cabinet-grotesk', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #333;
    .sidebar {
        width: 80px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
        border-right: 2px solid #EEEEEE;
        .logo {
            margin-bottom: 20px;
            img {
                height: 25px;
            }
        }

        .menu {
            list-style: none;
            padding: 0;
            li {
                margin: 20px 0;
                a {
                    display: block;
                    padding: 10px;
                    text-align: center;
                    color: #333;
                }
            }
        }

    }
    .main-content {
        flex-grow: 1;
        // background-color: #003087;
        // padding: 20px;
        display: flex;
        flex-direction: column;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 7px 20px;
            margin-top: 0;
            background-color: #ffffff;
            h1{
                font-size: 1.5em;
                font-family: 'clash-display', sans-serif;
                color: #1b1b1b;
                font-weight: 600;

            }
            .search-bar {
                display: flex;
                justify-content: space-between;
                width: 23em;
                align-items: center;

                input[type="text"] {
                  padding: 10px;
                  border: .1px solid #ccc;
                  border-radius: 5px;
                  width: 300px;
                  height: 3em;
                  background: #F4F4F4;
                }

                .profile-pic img {
                    border-radius: 50%;
                    width: 40px;
                    // height: 50px;
                    object-fit: cover;
                }
            }

        }
    }
}

/* -------- Version Mobile -------- */
@media (max-width: 576px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    position: static;
    border-right: none;
    border-top: 2px solid #EEEEEE;
  }

  .sidebar .menu {
    display: flex;
    justify-content: space-around;
  }

  .main-content {
    margin-left: 0;
    padding: 5px;
  }

  header {
    flex-direction: column;
    padding-bottom: 10px;
  }

  header .search-bar {
    width: 100%;
  }

  header .search-bar input[type="text"] {
    width: 100%;
  }
}

/* Menu fixed at the bottom in mobile */
@media (max-width: 576px) {
  .menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.619);
    opacity: 90%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-top: 1px solid #eaeaea;
    border-radius: 25px;
  }

  .menu li {
    list-style-type: none;
  }

  .menu li a {
    color: #ff4b2b;
    font-size: 1.5rem;
  }
}
