* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cabinet-grotesk', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #333;
    .sidebar {
        width: 65px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
        border-right: 2px solid #EEEEEE;
        .logo {
            margin-bottom: 20px;
            img {
                height: 20px;
            }
        }

        .menu {
            list-style: none;
            padding: 0;
            li {
                margin: 20px 0;
                a {
                    display: block;
                    // padding: 10px;
                    text-align: center;
                    color: #333;
                }
            }
        }

    }
    .main-content {
        flex-grow: 1;
        // background-color: #003087;
        // padding: 20px;
        display: flex;
        flex-direction: column;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 7px 20px;
            margin-top: 0;
            background-color: #ffffff;
            h1{
                font-size: 1.5em;
                font-family: 'clash-display', sans-serif;
                color: #1b1b1b;
                font-weight: 600;

            }
            .search-bar {
                display: flex;
                justify-content: space-between;
                width: 23em;
                align-items: center;

                input[type="text"] {
                  padding: 10px;
                  border: .1px solid #ccc;
                  border-radius: 5px;
                  width: 300px;
                  height: 3em;
                  background: #F4F4F4;
                }

                .profile-pic img {
                    border-radius: 50%;
                    width: 40px;
                    // height: 50px;
                    object-fit: cover;
                }
            }

        }
    }
}

.logo-container{
  display: none;
}

@media (max-width: 768px){
  .container{
    display: none;
  }
}
