<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> -->
  <!-- <app-register></app-register> -->
  <!-- <app-login></app-login> -->
  <!-- <app-profile></app-profile> -->
   <!-- <app-tickets></app-tickets> -->
  <!-- <app-wallet-create></app-wallet-create> -->
   <app-my-events></app-my-events>
  <!-- <app-event-card *ngFor="let event of events" [variant]="3" [event]="event"></app-event-card>
  <app-event-card *ngFor="let event of events" [variant]="1" [event]="event"></app-event-card> -->

<!-- </ion-content> -->

<!-- <div class="container">
  <app-ticket-card></app-ticket-card>
  <app-transaction></app-transaction>
</div> -->
<!-- <app-ticket-card></app-ticket-card> -->
